body {
    font: 13px Noto Sans, Arial, sans-serif;
    color: #f0f0f0;
    margin: 30px;
    cursor: default;
    background-color: #000000;
}

/**~~~~~~LAYERS~~~~~~~**/

.layer {
    height: 100px;
    width: 180px;
    border-radius: 5px;
    background-color: #1b1b1b;
    padding: 5px;
    margin-bottom: 5px;
    transition: all .5s;
}

.layer:hover {
    border: 1px solid #1a1a1a;
}

.layer.selected {
    border: 1px solid #80ffd2;
    background-color: #1b1b1b;
}

.layer.selected:hover {
    border: 1px solid #80ffd2;
}

.layer > div {
    display: inline-block;
    height: 90px;
    padding: 5px;
    background-color: #2A2A2A;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
}

.layer > .control {   
    overflow: ellipsis;
    width: 70px;
    height: 90px;
    }



/**~~~~~~CLIPS~~~~~~~**/

.clip {
    width: 100px;
    margin-right: 5px;
}


.clip div {
    display: inline-block;
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #474747;
}

.clip.selected div {
    color: #1b1b1b;
    background-color: #80ffd2;
}

.clip img{
    width: 100px;
    height: 80px;
    background-color:#2d2d2d;
}

.layers_and_clips {
    display: flex;     
}

.layers {
    margin-top: 30px;
    background-color:#1b1b1b;
}

.clips {
    display: grid;          
    flex-wrap: nowrap;
    overflow-x: auto;    
    padding-left: 0px;
    background-color:#1b1b1b;
    text-align: center;
}

/**~~~~~~COLUMNS~~~~~~~**/

.column {
    height: 20px;
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 5px;
    background-color: #2A2A2A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.column.connected {
    background-color: #80ffd2;
    color: #1b1b1b;
}

span.parameter input {
    border: none;
    background: transparent;
    padding: 0;
    color: #f0f0f0;
}

span.parameter input:focus {
    background-color: white;
}

div.properties .title {
    background-color: #4d8c75;
    margin-top: 5px;
    padding: 5px 10px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 17px;
}

div.properties .content {
    padding: 5px;
    background-color: #1a1a1a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

span.label {
    display: inline-block;
    width: 125px;
    margin-left: 15px;
}

/**~~~~~~DECKS~~~~~~~**/

.decks {
    height: 30px;    
    margin-left: 193px;
}

.decks > div {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-right: 5px;
    padding: 5px;
    background-color: #2a2a2a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.decks > div.selected {
    background-color: #80ffd2;
    color: #1b1b1b;
}

.arrow {
    width: 0px;
    height: 0px;
    display: inline-block;
    margin-right: 2px;
}

.arrow.down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: relative;
    top: -2px;
}

.arrow.right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

#controls {
    display: flex;
}

#controls > div {
    width: 100%
}

#controls > div + div {
    margin-left: 5px;
}

.context-menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 3px #cccccc;
    border: 1px solid black;
    padding: 3px;
    width: 250px;
}

.context-menu .label {
    color: gray;
}

.context-menu .option {
    padding: 2px;
    padding-left: 20px;
    position: relative;
}

.context-menu > .option:after {
    content: '▸';
    position: absolute;
    right: 4px;
}

.context-menu .option.selected:before {
    content: '✓';
    position: absolute;
    left: 4px;
}

.context-menu .option:hover {
    background-color: #dedede;
}

.context-menu .sub-menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 3px #cccccc;
    border: 1px solid black;
    padding: 3px;
    top: 0px;
    left: 250px;
    width: 250px;
}

.properties {
    margin-top: 30px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #5f5f5f !important;
    height: 5px;
    border-radius: 5px;
    margin: 10px;
    }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4d8c75 !important;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.choice {
    width: 130px;
    background-color: #474747;
    border: none;
    color: #f0f0f0;
    margin-left: 10px;
}

.option {
    background-color: #1d1d1d;
    border: 1px solid #474747;
}

.composition {
    
}

/*
.clip {
    flex: 0 0 auto;
}

.control {
    flex: 0 0 auto;
}
*/