.rotary {
  	position: relative;
    display: inline-block;
}

.rotary .dial {
  	position: absolute;

    border-bottom-color: #4d8c75;
    border-bottom-style: solid;

    transition: border-bottom-color .25s;

    height: 50%;
    left: 50%;
    top: 25%;
}

.rotary .dial div {
    position: absolute;

    border-right-color: transparent;
    border-right-style: solid;

    border-left-color: transparent;
    border-left-style: solid;

    border-bottom-color: #4d8c75;
    border-bottom-style: solid;

    transition: border-bottom-color .25s;

    width: 0;
    height: 0;

    top: 0;
    right: 0;

    margin: auto;
}

.rotary.active .dial,
.rotary:hover .dial,
.rotary.active .dial div,
.rotary:hover .dial div {
    border-bottom-color: #80ffd2;
}

.rotary circle {
    fill: transparent;
    stroke-dashoffset: 0;
    transform: rotate(155deg);
    transform-origin: 50% 50%;
}

.rotary circle.empty {
    stroke: #4d8c75;
}

.rotary circle.full {
    stroke: #80ffd2;
}
